mat-error {
    margin-top: -15px;
    font-size: 10px;
}
.full-width {
    width: 100%;
}
.pr-1 {
    padding-right: 1rem !important;
}
.pb-1 {
    padding-bottom: 1rem!important;
}
h2 {
    text-align: center;
    font-weight: 200;
}