<div *ngIf="mockModel">
	<h2>{{ title }}</h2>
	<form [formGroup]="form">
		<div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
			<div class="pb-1" 
				*ngFor="let formElement of formElements" 
				[ngSwitch]="formElement.controlType">
				<!-- form Textbox -->
				<mat-form-field class="full-width" *ngSwitchCase="'textbox'">
					<input
						matInput
						autocomplete="off"
						name="formElement.key"
						placeholder="{{ formElement.placeholder }}"
						[formControlName]="formElement.key" 
						[id]="formElement.key" 
						[type]="formElement.type"
						[value]="formElement.value"
						[required]="formElement.required"
						[(ngModel)]="mockModel[formElement['key']]">
						<mat-error *ngIf="formElement.errors">
							{{ formElement.errors }}
						</mat-error>
				</mat-form-field>

				<!-- form Textarea -->
				<mat-form-field class="full-width" *ngSwitchCase="'textarea'"> 
					<textarea 
						matInput 
						autocomplete="off"
						name="formElement.key"
						placeholder="{{ formElement.placeholder }}" 
						matTextareaAutosize 
						matAutosizeMinRows="2"
						matAutosizeMaxRows="5"
						[formControlName]="formElement.key" 
						[id]="formElement.key" 
						[type]="formElement.type"
						[value]="formElement.value"
						[required]="formElement.required"
						[(ngModel)]="mockModel[formElement['key']]">
					</textarea>
					<mat-error *ngIf="formElement.errors">
						{{ formElement.errors }}
					</mat-error>
				</mat-form-field>
				
				<!-- form Dropdown -->
				<mat-form-field class="full-width" *ngSwitchCase="'dropdown'">
					<mat-select 
						placeholder="{{ formElement.placeholder }}"
						[formControlName]="formElement.key"
						[id]="formElement.key" 
						[attr.name]="formElement.key" 
						[required]="formElement.required"
						[(ngModel)]="mockModel[formElement['key']]">
						<mat-option *ngFor="let option of formElement.options" 
							[value]="option.key">
							{{ option.value }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<!-- form-Slide-toggle -->
				<mat-slide-toggle style="padding-top:10px;" *ngSwitchCase="'slide-toggle'"
					[formControlName]="formElement.key"
					[id]="formElement.key" 
					[color]="primary"
					[checked]="formElement.value"
					[required]="formElement.required"
					[(ngModel)]="mockModel[formElement['key']]">
					{{ formElement.label }}
				</mat-slide-toggle>

				<!-- form Datepicker -->
				<mat-form-field class="full-width" *ngSwitchCase="'datepicker'">
					<input matInput 
						[matDatepicker]="picker" 
						[id]="formElement.key"
						[formControlName]="formElement.key"
						[value]="formElement.value"
						placeholder="{{ formElement.placeholder }}"
						[required]="formElement.required"
						[(ngModel)]="mockModel[formElement['key']]">
					<mat-datepicker-toggle matSuffix 
						[for]="picker">
					</mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>

				<!-- form Validation notice -->
				<mat-error *ngIf="formElement.errors">
					{{ formElement.errors }}
				</mat-error>
			</div>
		</div>
		<!-- <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
			<div class="pb-1">
				<mat-form-field class="full-width">
					<input
					matInput
					name="username"
					placeholder="Username"
					value="">
				</mat-form-field>
			</div>
		</div> -->
	</form>
</div>